.buttonInclud{
    display: flex;
    max-width: 7.5rem;
    position: absolute;
    left: 22rem;
    top: 5px;
}
.rowMain{
    display: flex;
    position: relative;
}
.div_card_collapse{
    padding: 1rem 1rem;
}