<!--<c-header class="mb-4 d-print-none" position="sticky">-->
  <ng-container>
    <c-container [fluid]="true" class="px-0">
      <button
        toggle="visible"
        cHeaderToggler
        [cSidebarToggle]="sidebarId"
        class="px-md-0 mx-md-3"
      >
        <svg cIcon
          name="cilMenu"
          size="lg"
        ></svg>
      </button>
      <c-header-brand class="me-auto d-md-none d-flex ms-2 text-white">
        <svg [cIcon]="logoNegative" class="sidebar-brand-full" height="34"></svg>
      </c-header-brand>
      <!-- <form class="d-none d-md-flex me-auto ms-2">
        <c-input-group>
          <span cInputGroupText id="search-addon" class="bg-light border-0 px-1">
            <svg cIcon name="cilSearch" size="lg" class="my-1 mx-2 text-disabled"></svg>
          </span>
          <input
            cFormControl
            type="text"
            class="bg-light border-0"
            placeholder="Search..."
            aria-label="Search"
            aria-describedby="search-addon"
          >
        </c-input-group>
      </form> -->

      <!-- todo: header nav dropdown menus  -->
      <c-header-nav class="d-none d-lg-flex ms-auto">
        <ng-container *ngTemplateOutlet="notifyDropdown"></ng-container>
        <ng-container *ngTemplateOutlet="taskDropdown"></ng-container>
        <ng-container *ngTemplateOutlet="messagesDropdown"></ng-container>
      </c-header-nav>
      <c-header-nav class="mx-0">
        <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
      </c-header-nav>

      <!--aside toggler-->
      <button
        toggle="visible"
        cHeaderToggler
        cSidebarToggle="aside1"
        class="px-md-0 mx-md-3"
      >
        <svg cIcon name="cilApplicationsSettings" size="lg"></svg>
      </button>
    </c-container>
  </ng-container>
  <!--</c-header>-->

  <ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <a href
        [caret]="false"
        cDropdownToggle
        class="py-0"
      >
        <c-avatar
          cTextColor="primary"
          shape="rounded-1"
          size="md"
          src="./assets/img/avatars/8.jpg"
          status="success"
        >
        </c-avatar>
      </a>
      <ul cDropdownMenu class="pt-0 pr-5 w-auto">
        <li>
          <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10 fw-semibold py-2">Account</h6>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilBell"></svg>
            Updates
            <c-badge class="ms-2 float-end" color="info-gradient">
              42
            </c-badge>
          </a>
        </li>
        <li>
          <a routerLink="/apps/email/inbox" cDropdownItem>
            <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
            Messages
            <c-badge class="ms-2 float-end" color="success-gradient">
              42
            </c-badge>
          </a>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilTask"></svg>
            Tasks
            <c-badge class="ms-2 float-end" color="danger-gradient">
              42
            </c-badge>
          </a>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name='cilCommentSquare'></svg>
            Comments
            <c-badge class="ms-auto" color="warning-gradient">
              42
            </c-badge>
          </a>
        </li>
        <li>
          <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10 fw-semibold py-2">Settings</h6>
        </li>
        <li></li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilUser"></svg>
            Profile
          </a>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilSettings"></svg>
            Settings
          </a>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilCreditCard"></svg>
            Payments
            <c-badge class="ms-2 float-end" color="secondary-gradient">
              42
            </c-badge>
          </a>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilFile"></svg>
            Projects
            <c-badge class="ms-2 float-end" color="primary-gradient">
              42
            </c-badge>
          </a>
        </li>
        <li>
          <hr cDropdownDivider/>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilLockLocked"></svg>
            Lock Account
          </a>
        </li>
        <li></li>
      </ul>
    </c-dropdown>
  </ng-template>

  <ng-template #messagesDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <a [caret]="false" cDropdownToggle href>
        <span class="d-inline-block my-1 mx-2 position-relative">
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
          <c-badge
            *ngIf="newMessages?.length"
            class="p-1"
            color="info-gradient"
            position="top-end"
            shape="rounded-circle"
          >
            <span class="visually-hidden">{{newMessages?.length ?? 0}} new messages</span>
          </c-badge>
        </span>
      </a>
      <div cDropdownMenu class="pt-0">
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10">
          <strong>You have {{ newMessages?.length ?? 0 }} messages</strong>
        </h6>
        <a [routerLink]="[]" cDropdownItem>
          <div class="message">
            <div class="pt-3 me-3 float-start">
              <c-avatar
                src="./assets/img/avatars/7.jpg"
                status="success"
              ></c-avatar>
            </div>
            <div>
              <small class="text-medium-emphasis">John Doe</small>
              <small class="text-medium-emphasis float-end mt-1">Just now</small>
            </div>
            <div class="text-truncate font-weight-bold">
              <span class="fa fa-exclamation text-danger"></span> Important
              message
            </div>
            <div class="small text-medium-emphasis text-truncate">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt...
            </div>
          </div>
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <div class="message">
            <div class="pt-3 me-3 float-start">
              <c-avatar
                src="./assets/img/avatars/6.jpg"
                status="warning"
              ></c-avatar>
            </div>
            <div>
              <small class="text-medium-emphasis">Jane Dovve</small>
              <small class="text-medium-emphasis float-end mt-1"
              >5 minutes ago</small
              >
            </div>
            <div class="text-truncate font-weight-bold">
              Lorem ipsum dolor sit amet
            </div>
            <div class="small text-medium-emphasis text-truncate">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt...
            </div>
          </div>
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <div class="message">
            <div class="pt-3 me-3 float-start">
              <c-avatar
                src="./assets/img/avatars/5.jpg"
                status="danger"
              ></c-avatar>
            </div>
            <div>
              <small class="text-medium-emphasis">Janet Doe</small>
              <small class="text-medium-emphasis float-end mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">
              Lorem ipsum dolor sit amet
            </div>
            <div class="small text-medium-emphasis text-truncate">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt...
            </div>
          </div>
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <div class="message">
            <div class="pt-3 me-3 float-start">
              <c-avatar src="./assets/img/avatars/4.jpg" status="info"></c-avatar>
            </div>
            <div>
              <small class="text-medium-emphasis">Joe Doe</small>
              <small class="text-medium-emphasis float-end mt-1">4:03 AM</small>
            </div>
            <div class="text-truncate font-weight-bold">
              Lorem ipsum dolor sit amet
            </div>
            <div class="small text-medium-emphasis text-truncate">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt...
            </div>
          </div>
        </a>
        <div class="p-2">
          <button cButton class="w-100" color="primary" routerLink="apps/email/inbox" variant="outline">
            View all messages
          </button>
        </div>
      </div>
    </c-dropdown>
  </ng-template>

  <ng-template #notifyDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <a [caret]="false" cDropdownToggle href>
        <span class="d-inline-block my-1 mx-2 position-relative">
          <svg cIcon name="cilBell" size="lg"></svg>
          <c-badge
            *ngIf="newNotifications?.length"
            class="p-1"
            color="danger"
            position="top-end"
            shape="rounded-circle"
          >
            <span class="visually-hidden">{{newNotifications?.length ?? 0}} new notifications</span>
          </c-badge>
        </span>
      </a>
      <div cDropdownMenu class="pt-0">
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10">
          <strong
          >You have {{ newNotifications?.length ?? 0 }} notifications</strong
          >
        </h6>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-success" name="cilUserFollow"></svg>
          New user registered
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-danger" name="cilUserUnfollow"></svg>
          User deleted
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-info" name="cilChartPie"></svg>
          Sales report is ready
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-primary" name="cilBasket"></svg>
          New client
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-warning" name="cilSpeedometer"></svg>
          Server overloaded
        </a>
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10">
          <strong>Server</strong>
        </h6>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="text-uppercase mb-1">
            <small>
              <b>CPU Usage</b>
            </small>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="25" color="info-gradient"></c-progress-bar>
          </c-progress>
          <small class="text-medium-emphasis">348 Processes. 1/4 Cores.</small>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="text-uppercase mb-1">
            <small>
              <b>Memory Usage</b>
            </small>
          </div>
          <c-progress thin>
            <c-progress-bar
              [value]="70"
              color="warning-gradient"
            ></c-progress-bar>
          </c-progress>
          <small class="text-medium-emphasis">11444GB/16384MB</small>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="text-uppercase mb-1">
            <small>
              <b>SSD 1 Usage</b>
            </small>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="90" color="danger-gradient"></c-progress-bar>
          </c-progress>
          <small class="text-medium-emphasis">243GB/256GB</small>
        </a>
      </div>
    </c-dropdown>
  </ng-template>

  <ng-template #taskDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <a [caret]="false" cDropdownToggle href>
        <span class="d-inline-block my-1 mx-2 position-relative">
        <svg cIcon name="cilList" size="lg"></svg>
        <c-badge
          *ngIf="newTasks?.length"
          class="p-1"
          color="warning-gradient"
          position="top-end"
          shape="rounded-circle"
        >
            <span class="visually-hidden">{{newTasks?.length ?? 0}} new tasks</span>
        </c-badge>
        </span>
      </a>
      <div cDropdownMenu class="py-0">
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10">
          <strong>You have {{ newTasks.length ?? 0 }} pending tasks</strong>
        </h6>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="small mb-1">
            Upgrade NPM &amp; Bower
            <span class="float-end">
              <strong>0%</strong>
            </span>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="0" color="info-gradient"></c-progress-bar>
          </c-progress>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="small mb-1">
            ReactJS Version
            <span class="float-end">
              <strong>25%</strong>
            </span>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="25" color="danger-gradient"></c-progress-bar>
          </c-progress>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="small mb-1">
            VueJS Version
            <span class="float-end">
              <strong>50%</strong>
            </span>
          </div>
          <c-progress thin>
            <c-progress-bar
              [value]="50"
              color="warning-gradient"
            ></c-progress-bar>
          </c-progress>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="small mb-1">
            Add new layouts
            <span class="float-end">
              <strong>75%</strong>
            </span>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="75" color="info-gradient"></c-progress-bar>
          </c-progress>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="small mb-1">
            Angular 2 Cli Version
            <span class="float-end">
              <strong>100%</strong>
            </span>
          </div>
          <c-progress thin>
            <c-progress-bar
              [value]="100"
              color="success-gradient"
            ></c-progress-bar>
          </c-progress>
        </a>
        <div class="p-2">
          <button class="w-100" cButton variant="outline" color="primary">
            View all tasks
          </button>
        </div>
      </div>
    </c-dropdown>
  </ng-template>
