<c-container>
  <c-row class="rowMain">
    <a
      cButton
      color="primary"
      routerLink="/professional/new-professional"
      class="buttonInclud"

      >Novo profissional</a
    >
    <c-smart-table
      [columnSorter]="true"
      [columns]="columns"
      [columnFilter]="true"
      [itemsPerPageSelect]="true"
      [itemsPerPage]="5"
      [items]="service.professionals"
      [sorterValue]="{ column: 'name', state: 'asc' }"
      [tableFilter]="true"
      [tableProps]="{ hover: true, striped: true, responsive: true }"
      [tableBodyProps]="{ align: 'middle' }"
      cleaner
      clickableRows
      header
      pagination
      (selectedItemsChange)="checkSelected($event)"
      tableFilterPlaceholder="Pesquisa por Nome, email ou"
    >
       <ng-template cTemplateId="tableDetails" let-item="item">
        <div>
          <div [visible]="this.details_visible[item._id] === true" cCollapse>
            <div class="div_card_collapse">
              <h3>{{ item["name"] }}</h3>
              <p class="text-muted">CPF: {{ item["cpf"] }}</p>
              <button cButton color="info" size="sm" (click)="perfilProfessional(item)">Perfil</button>
              <button
                cButton
                class="ms-1"
                (click)="deleteItem(item.id)"
                color="danger"
                size="sm"
              >
                Apagar
              </button>
            </div>
          </div>
        </div>
      </ng-template>
       <ng-template
        cTemplateId="tableData"
        let-columnName="columnName"
        let-item="item"
        let-tdContent="tdContent"
      >
        <td>
          <ng-container [ngSwitch]="columnName">
            <ng-container *ngSwitchCase="'status'">
              <c-badge [color]="getBadge(tdContent)">
                {{ item[columnName] }}
              </c-badge>
            </ng-container>
            <ng-container *ngSwitchCase="'show'" class="py-2">
              <button
                (click)="toggleDetailst(item._id)"
                cButton
                color="primary"
                size="sm"
                variant="outline"
              >
                Mostrar
              </button>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ tdContent }}
            </ng-container>
          </ng-container>
        </td>
      </ng-template>
    </c-smart-table>
  </c-row>
</c-container>
